.Peoples{
    width: 40vw;
}

table thead{
    border: 1px solid black;
}

table tr:nth-child(2n){
    background: rgb(238, 238, 238);
    width: 100%;
}

table{
    /* padding: 0;
    margin: 0; */
    /* min-width: 20vw; */
    width: 100%;
}

tr{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    align-items: center;
    justify-items: center;
}

td, th{
    text-align: center;
    padding: .5vw;
    text-transform: capitalize;
}

form{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    column-gap: 1%;
}

.editInput{
    width: 100% !important;
    text-align: center;
}