.Peoples{
    width: 40vw;
    margin: 10%;
}

.Peoples thead{
    border: 1px solid black;
}

.Peoples tr:nth-child(2n){
    background: rgb(238, 238, 238);
    width: 100%;
}

.Peoples table{
    width: 100%;
}

.Peoples tr{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    align-items: center;
    justify-items: center;
}

.Peoples td, .Peoples th{
    text-align: center;
    padding: .5vw;
    text-transform: capitalize;
}

.Peoples form{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    column-gap: 1%;
}

.Peoples .editInput{
    text-align: center;
}